@layer components {
  .fluid-h1 {
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: 700;
  }

  .fluid-h2 {
    font-size: clamp(0.8rem, 4vw, 1rem);
    font-weight: 600;
  }

  .fluid-h3 {
    font-size: clamp(0.6rem, 2vw, 0.8rem);
    font-weight: 500;
  }

  .fluid-p {
    font-size: clamp(0.6rem, 4vw, 0.8rem);
  }
}
